<!DOCTYPE html>
<html>
<head>

   <link rel="stylesheet" href="/static/bootstrap.min.css">

    <title></title>


</head>

<body style="background-color:aliceblue">


               <h2 class="text-center">Personas registradas</h2>


<div class="container">


            <table class="table table-hover">
  <tr class="info">
    <th>id</th>
    <th>nombre</th>
  </tr>
  {% for obj in check %}
  <tr>

    <td>{{obj.id}}</td>
    <td>{{obj.user}}</td>
  </tr>
  {%endfor%}
</table>
</div>
</body>
</html>
