
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

      <link rel="stylesheet" href="/static/css/principal.css" media="screen" title="no title">
  </head>
  <body>
  	<form>
  		<div class="group">
  			<input type="text"><span class="highlight"></span><span class="bar"></span>
  			<label>Usuario</label>
  		</div>
  		<div class="group">
  			<input type="password"><span class="highlight"></span><span class="bar"></span>
  			<label>Contraseña</label>
  		</div>
  		<button type="button" class="button buttonBlue">Iniciar Sesión
  			<div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  		</button>
  	</form>
  </body>
</html>
